name: CI + App

on: [push]

jobs:

  # ------------------------------------------------------------------
  # JOB 1: Téléchager API, dépendances
  # ------------------------------------------------------------------

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests
        run: |
          echo "Simulation des tests..."  # ton code existant
          # ou pytest si tu as des tests réels
          # pip install pytest
          # pytest

  # ------------------------------------------------------------------
  # JOB 2: QUALITÉ DU CODE (SonarQube / SonarCloud)
  # ------------------------------------------------------------------

  sonarqube:
    name: SonarQube Scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Important pour une meilleure analyse

      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io
            -Dsonar.host.url=https://sonarcloud.io
